@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  margin: 3rem 0;
}

main {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  padding: 1em 1.5em;
  border-radius: 2rem;
}

.Operations {
  background-color: white;
  font-weight: 700;
  color: #7f9c9f;
}
.Operations .contentOperations .Bill {
  padding: 1rem 0;
}
.Operations .contentOperations .SelectTip {
  margin: 2rem 0;
}
.Operations .contentOperations .SelectTip-gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 0 0;
}
.Operations .contentOperations .SelectTip-gridContainer__grid-item {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #00494d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out 0.2s;
}
.Operations .contentOperations .SelectTip .btn-active {
  background-color: #26c0ab;
  color: #00494d;
}
.Operations .contentOperations .NumberPeople {
  margin: 0 0 1rem 0;
}
.Operations .contentOperations .NumberPeople .containerLabelNegativeCero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.Operations .contentOperations .NumberPeople .containerLabelNegativeCero .textZero {
  color: #b63f3f;
  display: none;
}

.container-inputIcon {
  position: relative;
  margin: 0.5rem 0;
  height: 3.5rem;
}

.icon-Bill, .icon-People {
  color: #e8e8e8;
  font-size: 15px;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}

#dateBill, #numberPeople {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#dateBill:focus, #numberPeople:focus {
  box-shadow: 0 0 0 2px #26c0ab;
  outline: none;
  transition: 0.3s;
}

#dateBill, #numberPeople, #custom {
  background-color: #f4fafa;
  border: none;
  color: #00494d;
  text-align: right;
}

.showResult {
  background-color: #00494d;
  width: 100%;
  border-radius: 1rem;
  margin: 1.5rem 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.showResult .container-textResult {
  width: 100%;
}
.showResult .content-amout,
.showResult .content-totalPerson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 6rem;
}
.showResult .content-amout__title,
.showResult .content-totalPerson__title {
  font-weight: 700;
  color: white;
}
.showResult .text-person {
  color: #7f9c9f;
}
.showResult .content-amout__result,
.showResult .content-totalPerson__result {
  color: #26c0ab;
  font-size: 2.5rem;
  font-weight: 700;
}
.showResult .btn-reset {
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
  border-radius: 5px;
  background-color: #26c0ab;
  color: #00494d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.showResult .btn-reset {
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
  border-radius: 5px;
  background-color: #26c0ab;
  color: #00494d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.footer {
  width: 100%;
  margin: 1.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.footer__text {
  color: #00494d;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}
.footer .containerFooterImg {
  width: 10rem;
  height: 10rem;
  margin: -2rem 0 0 0;
}
.footer .containerFooterImg__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 992px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80%;
    height: 30rem;
    padding: 2rem;
  }

  .Operations {
    width: 50%;
    height: 100%;
    margin: 0 1.5rem 0 0;
  }
  .Operations .contentOperations .SelectTip {
    margin: 0.5rem 0 1.5rem 0;
  }
  .Operations .contentOperations .SelectTip-gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Operations .contentOperations .SelectTip-gridContainer__grid-item:hover {
    background-color: #c5e4e7;
    cursor: pointer;
    color: #00494d;
    transition: 0.3s;
  }
  .Operations .contentOperations .SelectTip .btn-active {
    background-color: #26c0ab;
    color: #00494d;
  }

  .showResult {
    width: 50%;
    height: 100%;
  }
  .showResult .container-textResult {
    transform: translate(0, 1.875rem);
  }
  .showResult .content-amout,
.showResult .content-totalPerson {
    height: 3rem;
  }
  .showResult .content-totalPerson {
    margin: 3rem 0 0 0;
  }
  .showResult .btn-reset {
    transition: background-color 0.2s ease-in-out 0.2s;
  }
  .showResult .btn-reset:hover {
    background-color: #c5e4e7;
    cursor: pointer;
  }
}

/*# sourceMappingURL=stylle.css.map */
